openapi: 3.1.0
info:
  title: OpenWrapper Gateway API
  version: 0.1.3
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  description: |
    # OpenWrapper Unified Payment Gateway API (v0.1.3 LTS)

    Provider-neutral payment creation, status reconciliation, provider webhook ingestion,
    and ledger analytics across Paymob, Fawry, and Stripe.

    ## Core Invariants & Architecture
    - **Boundary 1 Idempotency**: `POST /v1/payments` requires a caller-supplied `Idempotency-Key` header (1–200 ASCII chars). Reusing the same key with identical payload returns the original payment record without invoking upstream providers; reusing it with mismatched payload produces an idempotency conflict error.
    - **Zero-Storage Security Contract**: Merchant provider credentials (Paymob, Fawry, Stripe) reside on the merchant's backend and are transmitted dynamically per-request over TLS via documented `X-*` headers. No provider secret keys or full card details are stored in the OpenWrapper database.
    - **Lossless Next-Actions**: Next-step payment actions preserve provider-native mechanics (`redirect_to_url` for 3DS hosted pages vs. `pay_at_reference` for Fawry retail kiosk reference codes) without lossy unification.
    - **Dual-Protocol & Multi-Interface**:
      - **REST API**: Ports `:8080` (Rust Gateway) and `:3000/api` (Web Control Plane)
      - **gRPC API**: Port `:50051` (`openwrapper.payment.v1.PaymentGatewayService`)
      - **GraphQL API**: `/graphql` on Gateway and `/api/graphql` on Web Control Plane
    - **Official SDKs**:
      - TypeScript / Node.js (`@openwrapper/sdk`)
      - PHP 8.1+ (`openwrapper/sdk`)
      - .NET 8 / C# (`OpenWrapper`)
servers:
  - url: https://gateway.openwrapper.muejam.com
    description: Production OpenWrapper Gateway (TLS - Paymob, Fawry, Stripe)
  - url: https://openwrapper.muejam.com/api
    description: Production Web API (Control Plane, Better Auth, & Ledger GraphQL)
  - url: http://localhost:8080
    description: Local Rust gateway (Paymob, Fawry, Stripe, gRPC & GraphQL)
  - url: http://localhost:3000/api
    description: Local Web Control Plane & API
security:
  - BearerAuth: []
  - ApiKeyAuth: []
tags:
  - name: Payments
    description: Payment creation, retrieval, and status inquiry operations.
  - name: Webhooks
    description: Inbound provider webhook verification and asynchronous delivery endpoints.
  - name: GraphQL
    description: Interactive schema introspection, queries, mutations, and GraphiQL playground.
  - name: System
    description: Liveness, readiness, and runtime version health probes.
paths:
  /v1/payments:
    post:
      tags: [Payments]
      summary: Create a payment
      operationId: createPayment
      description: |
        Creates one logical payment across the specified provider (Paymob, Fawry, Stripe).
        Requires a caller-supplied `Idempotency-Key`. Retries must reuse both the request
        body and `Idempotency-Key`. A `200` response represents an idempotent replay or
        a recorded payment whose provider outcome is `unknown`. A `201` response indicates
        a newly initiated payment intention.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/PaymobSecretKey'
        - $ref: '#/components/parameters/PaymobPublicKey'
        - $ref: '#/components/parameters/PaymobHmacSecret'
        - $ref: '#/components/parameters/PaymobIntegrationId'
        - $ref: '#/components/parameters/PaymobBaseUrl'
        - $ref: '#/components/parameters/FawryMerchantCode'
        - $ref: '#/components/parameters/FawrySecureKey'
        - $ref: '#/components/parameters/FawryBaseUrl'
        - $ref: '#/components/parameters/StripeSecretKey'
        - $ref: '#/components/parameters/StripeWebhookSecret'
        - $ref: '#/components/parameters/StripeBaseUrl'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
      responses:
        '200':
          description: Existing payment or recorded ambiguous outcome.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentView'
        '201':
          description: Payment initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentView'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Idempotency conflict reported by the gateway or web API.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Invalid request payload or missing provider credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          description: Required gateway service is not configured or available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/payments/{id}:
    get:
      tags: [Payments]
      summary: Get payment status
      operationId: getPayment
      description: |
        Returns the current payment record. For an `unknown` payment,
        the gateway may perform one provider status inquiry before responding.
      parameters:
        - $ref: '#/components/parameters/PaymentId'
      responses:
        '200':
          description: Current payment record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentView'
        '400':
          description: Invalid ID or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Payment not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
        '502':
          $ref: '#/components/responses/BadGateway'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
  /v1/webhooks/{provider}:
    post:
      tags: [Webhooks]
      summary: Ingest a provider webhook
      operationId: ingestWebhook
      security: []
      description: |
        Provider-facing callback endpoint. It is authenticated using the
        provider's signature rather than a gateway API key. Paymob sends its
        HMAC-SHA512 value in the `hmac` query parameter, Fawry includes
        `messageSignature` in its JSON payload, and Stripe sends a timestamped
        HMAC-SHA256 signature in the `Stripe-Signature` header (`t=...,v1=...`).

        Both the Rust gateway and web API support Paymob, Fawry, and Stripe natively.
        Successful responses may have an empty body; callers must use the HTTP
        status as the acknowledgement.
      parameters:
        - $ref: '#/components/parameters/WebhookProvider'
        - name: hmac
          in: query
          required: false
          description: Paymob HMAC-SHA512 signature.
          schema:
            type: string
        - name: Stripe-Signature
          in: header
          required: false
          description: Stripe webhook signature header (`t=...,v1=...`) with timestamp replay tolerance check.
          schema:
            type: string
      requestBody:
        required: true
        description: Raw provider-owned webhook payload.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProviderWebhookPayload'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ProviderWebhookPayload'
      responses:
        '200':
          description: Verified and acknowledged, including duplicate deliveries.
        '400':
          description: Malformed payload, unsupported provider, or failed consistency validation.
        '401':
          description: Missing or invalid provider signature.
        '404':
          description: Unknown provider.
        '500':
          description: Webhook could not be durably queued or applied.
  /graphql:
    get:
      tags: [GraphQL]
      summary: GraphiQL Explorer & Schema Playground
      operationId: graphiqlExplorer
      security: []
      description: |
        Renders the interactive GraphiQL web console in the browser, or returns
        the GraphQL schema definition when requested with standard GraphQL introspection headers.
      responses:
        '200':
          description: GraphiQL interactive playground HTML or introspection result.
          content:
            text/html:
              schema:
                type: string
            application/json:
              schema:
                type: object
    post:
      tags: [GraphQL]
      summary: Execute GraphQL Query or Mutation
      operationId: executeGraphQL
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
        - {}
      description: |
        Executes a GraphQL query or mutation against the OpenWrapper gateway ledger.
        Supports `createPayment`, `getPayment`, `reconcilePayment`, and schema introspection.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query:
                  type: string
                  description: The GraphQL query or mutation document.
                  example: "query GetPayment($id: String!) { payment(id: $id) { id status amountMinorUnits currency provider } }"
                variables:
                  type: [object, 'null']
                  description: Optional variables map for the operation.
                  example:
                    id: "01J6G7RPQZ4Z9M6W3V2T1K8N90"
                operationName:
                  type: [string, 'null']
                  description: Name of the operation if the document contains multiple.
      responses:
        '200':
          description: GraphQL execution result.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: [object, 'null']
                  errors:
                    type: [array, 'null']
                    items:
                      type: object
                      properties:
                        message:
                          type: string
                        locations:
                          type: array
                          items:
                            type: object
                        path:
                          type: array
                          items:
                            type: string
        '400':
          $ref: '#/components/responses/BadRequest'
  /v1/health:
    get:
      tags: [System]
      summary: Liveness probe
      operationId: getHealth
      security: []
      description: |
        Rust-gateway liveness endpoint. Returns HTTP 200 with an empty body
        and does not access external dependencies.
      responses:
        '200':
          description: Gateway process is alive.
  /v1/ready:
    get:
      tags: [System]
      summary: Readiness probe
      operationId: getReadiness
      security: []
      description: Rust-gateway readiness endpoint checking PostgreSQL database and AMQP bus connectivity.
      responses:
        '200':
          description: Gateway dependencies are ready.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
        '503':
          description: At least one gateway dependency is unavailable.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
  /v1/version:
    get:
      tags: [System]
      summary: Get gateway version
      operationId: getVersion
      security: []
      description: Returns the release semantic version of the running gateway engine.
      responses:
        '200':
          description: Gateway release version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
      description: "OpenWrapper API key in `Authorization: Bearer <key>`."
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: "OpenWrapper API key sent directly in `X-API-Key`."
  parameters:
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: 1-200 printable ASCII characters, excluding quotes and whitespace.
      schema:
        type: string
        minLength: 1
        maxLength: 200
        pattern: '^[!#-~]+$'
        example: order-98234-attempt-1
    PaymentId:
      name: id
      in: path
      required: true
      description: Opaque OpenWrapper payment identifier.
      schema:
        type: string
        minLength: 1
        example: 01J6G7RPQZ4Z9M6W3V2T1K8N90
    WebhookProvider:
      name: provider
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/PaymentProvider'
    PaymobSecretKey:
      name: X-Paymob-Secret-Key
      in: header
      required: false
      schema:
        type: string
      description: Per-request Paymob secret API key.
    PaymobPublicKey:
      name: X-Paymob-Public-Key
      in: header
      required: false
      schema:
        type: string
      description: Per-request Paymob public API key.
    PaymobHmacSecret:
      name: X-Paymob-Hmac-Secret
      in: header
      required: false
      schema:
        type: string
      description: Per-request Paymob webhook HMAC secret.
    PaymobIntegrationId:
      name: X-Paymob-Integration-Id
      in: header
      required: false
      schema:
        oneOf:
          - type: string
            pattern: '^[0-9]+$'
          - type: integer
            format: int64
      description: Per-request numeric Paymob integration ID.
    PaymobBaseUrl:
      name: X-Paymob-Base-Url
      in: header
      required: false
      schema:
        type: string
        format: uri
      description: Optional Paymob API origin override for sandbox testing.
    FawryMerchantCode:
      name: X-Fawry-Merchant-Code
      in: header
      required: false
      schema:
        type: string
      description: Per-request Fawry merchant code.
    FawrySecureKey:
      name: X-Fawry-Secure-Key
      in: header
      required: false
      schema:
        type: string
      description: Per-request Fawry shared secret.
    FawryBaseUrl:
      name: X-Fawry-Base-Url
      in: header
      required: false
      schema:
        type: string
        format: uri
      description: Optional Fawry API origin override for sandbox or production.
    StripeSecretKey:
      name: X-Stripe-Secret-Key
      in: header
      required: false
      schema:
        type: string
      description: Per-request Stripe secret API key (e.g. sk_live_... or sk_test_...).
    StripeWebhookSecret:
      name: X-Stripe-Webhook-Secret
      in: header
      required: false
      schema:
        type: string
      description: Per-request Stripe webhook signing secret (whsec_...).
    StripeBaseUrl:
      name: X-Stripe-Base-Url
      in: header
      required: false
      schema:
        type: string
        format: uri
      description: Optional Stripe API origin override for sandbox or local mock testing.
  responses:
    BadRequest:
      description: Invalid request or idempotency payload conflict.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing/invalid API key or rejected provider credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Caller is not authorized for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Gateway or provider rate limit exceeded.
      headers:
        Retry-After:
          required: false
          schema:
            type: string
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal gateway failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: Provider or downstream gateway failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    GatewayTimeout:
      description: Provider operation exceeded the gateway deadline.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    PaymentProvider:
      type: string
      enum: [paymob, fawry, stripe]
      description: |
        Provider adapter. Native first-class support for `paymob`, `fawry`,
        and `stripe` across both the Rust gateway and web API.
    PaymentCurrency:
      type: string
      enum: [EGP, USD, EUR, GBP, SAR, AED]
      description: |
        ISO-4217 currency code. Paymob and Fawry operate primarily in EGP;
        Stripe supports multi-currency payments (USD, EUR, GBP, SAR, AED, EGP).
    CreatePaymentRequest:
      type: object
      additionalProperties: false
      required: [provider, amount_minor_units, currency, customer]
      properties:
        provider:
          $ref: '#/components/schemas/PaymentProvider'
        amount_minor_units:
          type: integer
          format: int64
          minimum: 1
          maximum: 1000000000
          description: Integer amount in the currency's minor unit; never a floating-point major-unit value.
          example: 15000
        currency:
          $ref: '#/components/schemas/PaymentCurrency'
        customer:
          $ref: '#/components/schemas/CustomerDetails'
        merchant_reference:
          type: [string, 'null']
          description: Merchant-owned order or transaction reference.
          example: order-2026-08-31-001
        description:
          type: [string, 'null']
          example: Annual Pro Plan Subscription
        return_url:
          type: [string, 'null']
          format: uri
          description: Customer return URL for redirect-based providers.
        metadata:
          type: object
          maxProperties: 20
          additionalProperties:
            type: string
            maxLength: 500
          default: {}
    CustomerDetails:
      type: object
      additionalProperties: false
      required: [phone]
      properties:
        phone:
          type: string
          minLength: 1
          example: '+201000000000'
        email:
          type: [string, 'null']
          format: email
        full_name:
          type: [string, 'null']
    PaymentStatus:
      type: string
      enum: [pending, succeeded, failed, unknown]
      description: |
        `unknown` is a recorded ambiguous provider outcome, not an API error.
        It must be reconciled by status inquiry or an authenticated webhook.
    PaymentNextAction:
      oneOf:
        - $ref: '#/components/schemas/RedirectToUrlAction'
        - $ref: '#/components/schemas/PayAtReferenceAction'
      discriminator:
        propertyName: type
        mapping:
          redirect_to_url: '#/components/schemas/RedirectToUrlAction'
          pay_at_reference: '#/components/schemas/PayAtReferenceAction'
    RedirectToUrlAction:
      type: object
      additionalProperties: false
      required: [type, url]
      properties:
        type:
          type: string
          const: redirect_to_url
        url:
          type: string
          format: uri
    PayAtReferenceAction:
      type: object
      additionalProperties: false
      required: [type, reference]
      properties:
        type:
          type: string
          const: pay_at_reference
        reference:
          type: string
        instructions:
          type: [string, 'null']
    PaymentView:
      type: object
      required:
        - payment_id
        - provider
        - provider_reference
        - status
        - amount_minor_units
        - currency
        - merchant_reference
      properties:
        payment_id:
          type: string
          minLength: 1
        provider:
          $ref: '#/components/schemas/PaymentProvider'
        provider_reference:
          type: [string, 'null']
        status:
          $ref: '#/components/schemas/PaymentStatus'
        amount_minor_units:
          type: integer
          format: int64
          minimum: 1
          maximum: 1000000000
        currency:
          $ref: '#/components/schemas/PaymentCurrency'
        merchant_reference:
          type: [string, 'null']
        next_action:
          $ref: '#/components/schemas/PaymentNextAction'
    ProviderWebhookPayload:
      type: object
      additionalProperties: true
      description: Provider-owned payload retained as an open object because each provider signs a different wire model.
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
    ErrorDetail:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: Stable machine-readable error category.
          enum:
            - invalid_request
            - missing_provider_credentials
            - idempotency_conflict
            - unauthorized
            - not_found
            - unsupported_provider
            - gateway_required
            - gateway_unavailable
            - gateway_unreachable
            - gateway_error
            - validation_error
            - authentication_error
            - authorization_error
            - configuration_error
            - network_error
            - timeout
            - provider_error
            - rate_limit
            - unsupported_capability
            - security_error
            - unknown_outcome
            - internal_error
        message:
          type: string
        fields:
          type: object
          additionalProperties: true
          description: Optional validation or error details.
    ReadinessResponse:
      type: object
      required: [status, database, cache, amqp]
      properties:
        status:
          type: string
          enum: [ready, not_ready]
        database:
          type: string
          enum: [connected, unavailable]
        cache:
          type: string
          enum: [connected, in_process, unavailable]
        amqp:
          type: string
          enum: [connected, disabled, unavailable]
    VersionResponse:
      type: object
      additionalProperties: false
      required: [version]
      properties:
        version:
          type: string
          example: 0.1.3
