# ==============================================================================
# OpenWrapper Standalone Checkout Store Configuration
# ==============================================================================

PORT=4000

# Base URL of OpenWrapper Hosted Gateway
OPENWRAPPER_BASE_URL=http://localhost:3000/api/v1

# Your OpenWrapper API Key
OPENWRAPPER_API_KEY=ow_live_uwps019_ivSbnDc7Fz8-vHRIWf5QyFGr

# Optional Custom Merchant Provider Credentials (Stateless Mode)
# Leave blank to use OpenWrapper default / sandbox routing
PAYMOB_SECRET_KEY=
PAYMOB_PUBLIC_KEY=
PAYMOB_HMAC_SECRET=
PAYMOB_INTEGRATION_ID=

FAWRY_MERCHANT_CODE=
FAWRY_SECURE_KEY=

STRIPE_SECRET_KEY=
